doctype html
html
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title
    include style
  body
    table.body(role='presentation' border='0' cellpadding='0' cellspacing='0')
      tbody
        tr
          td
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')
                // START MAIN AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                          tr
                            td
                              // CONTENT
                              p Hi #{username}
                              p It looks like your password was changed.
                              p
                                | If this was not you, please change your password
                                | to secure your account.
                              table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tbody
                                  tr
                                    td(align='left')
                                      table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              a(href='<%=url%>' target='_blank') Visit Site
                              // END CONTENT
              // START FOOTER
              .footer
                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                  tbody
                    tr
                      td.content-block
                        span.apple-link
                          | YourCompanyHere, 123 Nowhere Road, San Francisco CA
                          | 99999
                        br
                        |                         Don&apos;t like these emails? 
                        a(href='#') Unsubscribe
